<div (click)="descHide()" id="about-lab">
	<p>+about</p>
</div>
<div animate-box #box="ab" class="text-padding" id="about-des">
    <img id="headshot" src="../resources/pics/me.jpg" alt="Colette">
    <p>I am a lifelong New Yorker interested in NodeJS and everything Javascript. After a couple years working at an EdTech start-up in New York, I'm now looking for my next project in Amsterdam.
    </p>
    <p>I enjoy coffee, outdoor morning workouts, notebooks, and photography.</p>
    <p>I am interested in education, health, art, tourism, and technology.</p>
</div>