<div id="resume-lab" (click)="itsHidden=!itsHidden;">
	<p *ngIf= "itsHidden===false">-resume</p>
	<p *ngIf="itsHidden===true">+resume</p>
</div>
        <div class="text-padding" id="resume-des" [ngClass]="{'my-class': itsHidden }">
            <ul>
                <h2>SUMMARY:</h2>
                <li>Current full-time Web Development student with background in HTML/CSS, JavaScript, NodeJS, and Postgres. </li>
                <li>Extensive experience at a fast-paced, New York City startup managing operational workflow</li>
                <li>Eager to learn as quickly and thoroughly as possible.</li>
                <h2>WORK EXPERIENCE:</h2>
                <h3>New Classrooms Innovation Partners</h3>
                <h4>Scheduling Operations Manager,  June 2015-January 2016</h4>
                <h4>Base/Scheduling Operations Associate,   August 2014-June 2015</h4>
                <h4>Executive Assistant/Office Manager, April 2013-September 2013</h4>
                <li>Coordinated and managed processes to generate, quality-check, and deliver personalized schedules to 10,000 students in 30 schools across 3 time zones.</li>
                <li>Developed documents and spreadsheets to assist in and monitor operational tasks and inter-department coordination.</li>
                <li>Captured and documented existing and evolving processes and operational improvements.</li>
                <li>Communicated and coordinated with third-party vendors to ensure smooth implementation of their product with our own.</li>
                <li>Conceived of, managed and executed an operational process documentation project for use throughout the organization.</li>
                <li>Implemented issue management process in conjunction with other departments and provided reporting.</li>
                <li>Managed Help Desk and provided early level triage for program issues.</li>
                <li>Supported the two CEOs, which included compiling expense reports, making travel arrangements, and scheduling both internal and external meetings.</li>
                <li>Provided general support to the business operations side of the organization, including approving expense reports, proofreading documents, and putting together press packets.</li>
                <li>Planned organization-wide events.</li>
                <li>Maintained daily office operations.</li>
                <h3>Inspection Academique de l'Oise October 2013-May 2014</h3>
                <h4>English Teacher</h4>
                <li>Designed and taught an English language and American culture curriculum for two primary schools in France.</li>
                <h2>EDUCATION:</h2>
                <h3>PRINCETON UNIVERSITY Princeton, NJ  September 2007-June 2011</h3>
                <li>B.A. English; GPA: 3.3/4.0</li>
                <p>Find my full resume on <a href="https://www.linkedin.com/in/colette-biervliet-schranz-19089b37?trk=nav_responsive_tab_profile_pic">LinkedIn.</a></p>
            </ul>
        </div>